In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('feature_vec/Image_with_water.txt')
dataset

        Unnamed: 0  bit  feature_1  feature_2  feature_3  feature_4
0                0  1.0        0.0       18.5       -5.0        1.5
1                1  1.0       -4.5      -33.5        0.5      -42.0
2                2  1.0       10.5       91.5        5.5       87.0
3                3  1.0      -31.0       -5.5      -35.5       23.5
4                4  1.0      -16.5       13.0      -11.0       -6.0
...            ...  ...        ...        ...        ...        ...
102395      102395  1.0       -6.5        3.0       -1.0        9.0
102396      102396  1.0       -3.5       16.5        0.5       -2.5
102397      102397  1.0        0.5       -8.0        6.5       -2.5
102398      102398  1.0        2.0       28.0       -2.0       49.0
102399      102399  1.0       28.0        3.5       29.5        9.0

[102400 rows x 6 columns]

In [3]:
dataset.dtypes

Unnamed: 0      int64
bit           float64
feature_1     float64
feature_2     float64
feature_3     float64
feature_4     float64
dtype: object

In [4]:
X = dataset.iloc[:,[2,3,4,5]].values
X

array([[  0. ,  18.5,  -5. ,   1.5],
       [ -4.5, -33.5,   0.5, -42. ],
       [ 10.5,  91.5,   5.5,  87. ],
       ...,
       [  0.5,  -8. ,   6.5,  -2.5],
       [  2. ,  28. ,  -2. ,  49. ],
       [ 28. ,   3.5,  29.5,   9. ]])

In [5]:
X.dtype

dtype('float64')

In [6]:
y = dataset.iloc[:, 1].values
y

array([1., 1., 1., ..., 1., 1., 1.])

In [7]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_sizes = (20,15,10,5) , max_iter=1000 ,early_stopping=True , verbose=True)
clf.fit(X, y)

Iteration 1, loss = 0.53959892
Validation score: 0.842969
Iteration 2, loss = 0.27197672
Validation score: 0.940430
Iteration 3, loss = 0.15761122
Validation score: 0.966992
Iteration 4, loss = 0.12202758
Validation score: 0.972754
Iteration 5, loss = 0.10962226
Validation score: 0.971973
Iteration 6, loss = 0.10050715
Validation score: 0.978516
Iteration 7, loss = 0.09334558
Validation score: 0.981543
Iteration 8, loss = 0.08802586
Validation score: 0.978809
Iteration 9, loss = 0.08649785
Validation score: 0.979883
Iteration 10, loss = 0.08151309
Validation score: 0.976562
Iteration 11, loss = 0.07954993
Validation score: 0.985059
Iteration 12, loss = 0.07603574
Validation score: 0.984180
Iteration 13, loss = 0.07276275
Validation score: 0.981934
Iteration 14, loss = 0.07329320
Validation score: 0.985742
Iteration 15, loss = 0.06917337
Validation score: 0.982617
Iteration 16, loss = 0.06858817
Validation score: 0.986719
Iteration 17, loss = 0.06589450
Validation score: 0.984668
Iteration 18, loss = 0.06488192
Validation score: 0.985938
Iteration 19, loss = 0.06715054
Validation score: 0.985840
Iteration 20, loss = 0.06243341
Validation score: 0.986914
Iteration 21, loss = 0.06407072
Validation score: 0.984375
Iteration 22, loss = 0.06242171
Validation score: 0.985449
Iteration 23, loss = 0.06301390
Validation score: 0.987109
Iteration 24, loss = 0.06205498
Validation score: 0.983984
Iteration 25, loss = 0.05886942
Validation score: 0.984277
Iteration 26, loss = 0.06016106
Validation score: 0.985156
Iteration 27, loss = 0.05965654
Validation score: 0.986914
Iteration 28, loss = 0.05906020
Validation score: 0.985645
Iteration 29, loss = 0.06030291
Validation score: 0.988184
Iteration 30, loss = 0.05735086
Validation score: 0.984766
Iteration 31, loss = 0.05901209
Validation score: 0.980957
Iteration 32, loss = 0.05773499
Validation score: 0.988574
Iteration 33, loss = 0.05751154
Validation score: 0.988477
Iteration 34, loss = 0.05780251
Validation score: 0.985449
Iteration 35, loss = 0.05705909
Validation score: 0.987305
Iteration 36, loss = 0.05699412
Validation score: 0.986523
Iteration 37, loss = 0.05507602
Validation score: 0.982227
Iteration 38, loss = 0.05561305
Validation score: 0.986230
Iteration 39, loss = 0.05559006
Validation score: 0.986719
Iteration 40, loss = 0.05560021
Validation score: 0.987988
Iteration 41, loss = 0.05370084
Validation score: 0.986035
Iteration 42, loss = 0.05561369
Validation score: 0.989355
Iteration 43, loss = 0.05387288
Validation score: 0.988867
Iteration 44, loss = 0.05262807
Validation score: 0.979688
Iteration 45, loss = 0.05465926
Validation score: 0.988477
Iteration 46, loss = 0.05395583
Validation score: 0.986426
Iteration 47, loss = 0.05526078
Validation score: 0.988281
Iteration 48, loss = 0.05262372
Validation score: 0.987207
Iteration 49, loss = 0.05435319
Validation score: 0.983887
Iteration 50, loss = 0.05276260
Validation score: 0.987012
Iteration 51, loss = 0.05177741
Validation score: 0.987402
Iteration 52, loss = 0.05314293
Validation score: 0.986035
Iteration 53, loss = 0.05326095
Validation score: 0.989453
Validation score did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(early_stopping=True, hidden_layer_sizes=(20, 15, 10, 5),
              max_iter=1000, verbose=True)

In [8]:
dataset = pd.read_csv('feature_vec/test_data.txt')
dataset

      Unnamed: 0  bit  feature_1  feature_2  feature_3  feature_4
0              0  1.0        2.0        0.5        0.0        0.5
1              1  1.0        0.0        0.5        0.0        2.0
2              2  1.0       -0.5        0.5        2.5        0.5
3              3  1.0        1.0       -1.0        0.0        2.5
4              4  1.0        1.5        0.5        0.5        0.5
...          ...  ...        ...        ...        ...        ...
1019        1019  1.0        1.0       -3.0       -3.5       -2.0
1020        1020  1.0       -1.5        3.5        2.0       -1.0
1021        1021  1.0      -10.0       11.0        3.0       -4.0
1022        1022  1.0       -7.5        4.5       -9.0        1.0
1023        1023  1.0       -3.5        3.0       -1.5        0.5

[1024 rows x 6 columns]

In [9]:
X_test = dataset.iloc[:,[2,3,4,5]].values
X_test

array([[  2. ,   0.5,   0. ,   0.5],
       [  0. ,   0.5,   0. ,   2. ],
       [ -0.5,   0.5,   2.5,   0.5],
       ...,
       [-10. ,  11. ,   3. ,  -4. ],
       [ -7.5,   4.5,  -9. ,   1. ],
       [ -3.5,   3. ,  -1.5,   0.5]])

In [10]:
y_test=dataset.iloc[:,1].values
y_test

array([1., 1., 1., ..., 1., 1., 1.])

In [11]:
y_pretict=clf.predict(X_test)

In [12]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pretict)
pd.DataFrame(cm)

     0    1
0  294    1
1    4  725

In [13]:
y_pretict=y_pretict.reshape(32,32)
y_pretict

array([[1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.]])

In [14]:
y_pretict[y_pretict>0]=255

In [15]:
y_pretict

array([[255., 255., 255., ..., 255., 255., 255.],
       [255., 255., 255., ..., 255., 255., 255.],
       [255., 255., 255., ..., 255., 255., 255.],
       ...,
       [255., 255., 255., ..., 255., 255., 255.],
       [255., 255., 255., ..., 255., 255., 255.],
       [255., 255., 255., ..., 255., 255., 255.]])

In [ ]:
from PIL import Image
img = Image.fromarray(y_pretict.astype(np.uint8))
img.show()