In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from PIL import Image
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [15]:
path_averege= "feature_vec/AverageAttack.txt"
path_histogram="feature_vec/HistogramAttack.txt"
path_GammaCor=  "feature_vec/GammaCorrection.txt"
path_JPEG50= "feature_vec/JPEG50.txt"
path_median=  "feature_vec/medianAttack.txt"
path_saltpaper="feature_vec/SaltPaperAttack.txt"
path_snarpness= "feature_vec/Sharpness.txt"

In [16]:
#ЭТО ПЛОХО РАЗДЕЛЯТЬ НА ТЕСТОВУЮ И ТРЭЙН ВЫБОРКУ НАДО ДЕЛАТЬ ВСТРОЕННОЙ ФУНКЦИЕЙ 
#train_test_split
def test_train_df(path):
    AttackDataFrame = pd.read_csv(path)
    del AttackDataFrame['Unnamed: 0']
    train_size=len(AttackDataFrame)//2
    test_size=len(AttackDataFrame)-train_size
    Train = AttackDataFrame.head(train_size)
    Test = AttackDataFrame.tail(test_size)
    return Train.copy(),Test.copy()

In [17]:
averegeTrain,averegeTest=test_train_df(path_averege)

histogramTrain,histogramTest=test_train_df(path_histogram)

GammaCorTrain, GammaCorTest=test_train_df(path_GammaCor)

JPEG50Train,JPEG50Test=test_train_df(path_JPEG50)

medianTrain,medianTest=test_train_df(path_median)

saltpaperTrain,saltpaperTest=test_train_df(path_saltpaper)

snarpnessTrain,snarpnessTest=test_train_df(path_snarpness)

In [18]:
frames = [averegeTrain, histogramTrain, GammaCorTrain , JPEG50Train, medianTrain,saltpaperTrain ,snarpnessTrain]

result = pd.concat(frames)
result

        bit  feature_1  feature_2  feature_3  feature_4
0         1        0.0        0.5       -1.0        1.5
1         1       -6.0      -18.5       -2.5      -20.0
2         1       15.0       28.0       20.5       33.5
3         1      -33.0       -2.5      -32.0       -2.5
4         1      -12.5       -7.0      -16.5      -11.5
...     ...        ...        ...        ...        ...
102395    1        0.5        2.5       -0.5        0.5
102396    1        0.0        0.5        4.0       -1.0
102397    1       -0.5        0.0        1.5       -0.5
102398    1        0.0        2.5        1.0       -1.0
102399    1       -0.5        2.0        0.0        0.0

[716800 rows x 5 columns]

In [19]:
X_train = result.iloc[:,[1,2,3,4]].values

In [20]:
y_train = result.iloc[:, 0].values

In [21]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_sizes = (20,15,10,5) , max_iter=1000 ,early_stopping=True , verbose=True)
clf.fit(X_train, y_train)

Iteration 1, loss = 0.63291317
Validation score: 0.679408
Iteration 2, loss = 0.58750195
Validation score: 0.697670
Iteration 3, loss = 0.58127260
Validation score: 0.699302
Iteration 4, loss = 0.57887469
Validation score: 0.701367
Iteration 5, loss = 0.57720038
Validation score: 0.703111
Iteration 6, loss = 0.57583234
Validation score: 0.704785
Iteration 7, loss = 0.57476004
Validation score: 0.702274
Iteration 8, loss = 0.57400266
Validation score: 0.705218
Iteration 9, loss = 0.57326234
Validation score: 0.704799
Iteration 10, loss = 0.57261379
Validation score: 0.704771
Iteration 11, loss = 0.57208183
Validation score: 0.704213
Iteration 12, loss = 0.57165103
Validation score: 0.705357
Iteration 13, loss = 0.57155672
Validation score: 0.703195
Iteration 14, loss = 0.57121970
Validation score: 0.705218
Iteration 15, loss = 0.57084281
Validation score: 0.705748
Iteration 16, loss = 0.57061701
Validation score: 0.704771
Iteration 17, loss = 0.57045510
Validation score: 0.705427
Iteration 18, loss = 0.57027008
Validation score: 0.705371
Iteration 19, loss = 0.57016157
Validation score: 0.705929
Iteration 20, loss = 0.57002739
Validation score: 0.707492
Iteration 21, loss = 0.56986743
Validation score: 0.705678
Iteration 22, loss = 0.56959975
Validation score: 0.706892
Iteration 23, loss = 0.56944906
Validation score: 0.707003
Iteration 24, loss = 0.56941932
Validation score: 0.705887
Iteration 25, loss = 0.56924437
Validation score: 0.707254
Iteration 26, loss = 0.56906117
Validation score: 0.706390
Iteration 27, loss = 0.56907581
Validation score: 0.707031
Iteration 28, loss = 0.56889892
Validation score: 0.706501
Iteration 29, loss = 0.56876056
Validation score: 0.707701
Iteration 30, loss = 0.56864065
Validation score: 0.708119
Iteration 31, loss = 0.56862148
Validation score: 0.707143
Iteration 32, loss = 0.56864945
Validation score: 0.706794
Iteration 33, loss = 0.56848919
Validation score: 0.707101
Iteration 34, loss = 0.56835143
Validation score: 0.706696
Iteration 35, loss = 0.56828925
Validation score: 0.707812
Iteration 36, loss = 0.56818846
Validation score: 0.709515
Iteration 37, loss = 0.56818851
Validation score: 0.709389
Iteration 38, loss = 0.56811708
Validation score: 0.707575
Iteration 39, loss = 0.56811623
Validation score: 0.707366
Iteration 40, loss = 0.56806372
Validation score: 0.709222
Iteration 41, loss = 0.56794331
Validation score: 0.708817
Iteration 42, loss = 0.56784937
Validation score: 0.708371
Iteration 43, loss = 0.56782119
Validation score: 0.709040
Iteration 44, loss = 0.56760788
Validation score: 0.707868
Iteration 45, loss = 0.56769577
Validation score: 0.708301
Iteration 46, loss = 0.56762119
Validation score: 0.708426
Iteration 47, loss = 0.56744753
Validation score: 0.709194
Validation score did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(early_stopping=True, hidden_layer_sizes=(20, 15, 10, 5),
              max_iter=1000, verbose=True)

In [16]:
X_test_s_p = saltpaperTest.iloc[:,[1,2,3,4]].values
y_test_s_p = saltpaperTest.iloc[:,0].values
len(X_test_s_p)

102400

In [17]:
y_predict_s_p=clf.predict(X_test_s_p)
y_predict_s_p.size

102400

In [18]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_s_p, y_predict_s_p)
pd.DataFrame(cm)

       0      1
0  36535   6165
1   3145  56555

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test_s_p, y_predict_s_p)

0.90908203125

In [20]:
from sklearn.metrics import classification_report
print(classification_report(y_test_s_p, y_predict_s_p))

              precision    recall  f1-score   support

           0       0.92      0.86      0.89     42700
           1       0.90      0.95      0.92     59700

    accuracy                           0.91    102400
   macro avg       0.91      0.90      0.91    102400
weighted avg       0.91      0.91      0.91    102400

In [77]:
i=11
y_predict=y_predict_s_p[1024*i:1024*(i+1)]
y_predict[y_predict>0]=255
y_predict=y_predict.reshape(32,32)
img = Image.fromarray(y_predict.astype(np.uint8))
img.show()

In [39]:
X_test_average = averegeTest.iloc[:,[1,2,3,4]].values
y_test_average = averegeTest.iloc[:,0].values
y_predict_average=clf.predict(X_test_average)

In [40]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_average, y_predict_average)
pd.DataFrame(cm)

       0      1
0  19543  23157
1  26869  32831

In [41]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test_average, y_predict_average)

0.51146484375

In [42]:
from sklearn.metrics import classification_report
print(classification_report(y_test_average, y_predict_average))

              precision    recall  f1-score   support

           0       0.42      0.46      0.44     42700
           1       0.59      0.55      0.57     59700

    accuracy                           0.51    102400
   macro avg       0.50      0.50      0.50    102400
weighted avg       0.52      0.51      0.51    102400

In [43]:
i=16
y_predict=y_predict_average[1024*i:1024*(i+1)]
y_predict[y_predict>0]=255
y_predict=y_predict.reshape(32,32)
img = Image.fromarray(y_predict.astype(np.uint8))
img.show()
img.save("average_w.tif")

In [44]:
X_test = histogramTest.iloc[:,[1,2,3,4]].values
y_test = histogramTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.754560546875

In [45]:

cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  25158  17542
1   7591  52109

In [46]:
i=11
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("histogram.tif")

In [47]:
X_test = GammaCorTest.iloc[:,[1,2,3,4]].values
y_test = GammaCorTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.886865234375

In [48]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  36897   5803
1   5782  53918

In [49]:
i=11
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("gamma_w.tif")

In [60]:
X_test = JPEG50Test.iloc[:,[1,2,3,4]].values
y_test = JPEG50Test.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.546357421875

In [61]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  13562  29138
1  17315  42385

In [62]:
i=18
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("jpeg_w.tif")

In [66]:

X_test = medianTest.iloc[:,[1,2,3,4]].values
y_test = medianTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.532109375

In [67]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  19538  23162
1  24750  34950

In [68]:
i=16
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("median.tif")

In [69]:

X_test = snarpnessTest.iloc[:,[1,2,3,4]].values
y_test = snarpnessTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.797939453125

In [70]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  25298  17402
1   3289  56411

In [71]:
i=28
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("snarp.tif")