In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from PIL import Image
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [4]:
path_averege= "feature_vec/AverageAttack.txt"
path_histogram="feature_vec/HistogramAttack.txt"
path_GammaCor=  "feature_vec/GammaCorrection.txt"
path_JPEG50= "feature_vec/JPEG50.txt"
path_median=  "feature_vec/medianAttack.txt"
path_saltpaper="feature_vec/SaltPaperAttack.txt"
path_snarpness= "feature_vec/Sharpness.txt"

In [5]:
def test_train_df(path):
    AttackDataFrame = pd.read_csv(path)
    del AttackDataFrame['Unnamed: 0']
    train_size=len(AttackDataFrame)//2
    test_size=len(AttackDataFrame)-train_size
    Train = AttackDataFrame.head(train_size)
    Test = AttackDataFrame.tail(test_size)
    return Train.copy(),Test.copy()

In [6]:
averegeTrain,averegeTest=test_train_df(path_averege)

histogramTrain,histogramTest=test_train_df(path_histogram)

GammaCorTrain, GammaCorTest=test_train_df(path_GammaCor)

JPEG50Train,JPEG50Test=test_train_df(path_JPEG50)

medianTrain,medianTest=test_train_df(path_median)

saltpaperTrain,saltpaperTest=test_train_df(path_saltpaper)

snarpnessTrain,snarpnessTest=test_train_df(path_snarpness)

In [7]:
frames = [averegeTrain, histogramTrain, GammaCorTrain , JPEG50Train, medianTrain,saltpaperTrain ,snarpnessTrain]

result = pd.concat(frames)
result

        bit  feature_1  feature_2  feature_3  feature_4
0         1        0.0        0.5       -1.0        1.5
1         1       -6.0      -18.5       -2.5      -20.0
2         1       15.0       28.0       20.5       33.5
3         1      -33.0       -2.5      -32.0       -2.5
4         1      -12.5       -7.0      -16.5      -11.5
...     ...        ...        ...        ...        ...
102395    1        0.5        2.5       -0.5        0.5
102396    1        0.0        0.5        4.0       -1.0
102397    1       -0.5        0.0        1.5       -0.5
102398    1        0.0        2.5        1.0       -1.0
102399    1       -0.5        2.0        0.0        0.0

[716800 rows x 5 columns]

In [8]:
X_train = result.iloc[:,[1,2,3,4]].values

In [9]:
y_train = result.iloc[:, 0].values

In [15]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_sizes = (20,15,10,5) , max_iter=1000 ,early_stopping=True , verbose=True)
clf.fit(X_train, y_train)

Iteration 1, loss = 0.62619442
Validation score: 0.682687
Iteration 2, loss = 0.58439248
Validation score: 0.693792
Iteration 3, loss = 0.57850283
Validation score: 0.698186
Iteration 4, loss = 0.57584008
Validation score: 0.698479
Iteration 5, loss = 0.57416122
Validation score: 0.701939
Iteration 6, loss = 0.57294255
Validation score: 0.701228
Iteration 7, loss = 0.57199643
Validation score: 0.700028
Iteration 8, loss = 0.57118241
Validation score: 0.702427
Iteration 9, loss = 0.57073962
Validation score: 0.702553
Iteration 10, loss = 0.57013958
Validation score: 0.703516
Iteration 11, loss = 0.56998378
Validation score: 0.703948
Iteration 12, loss = 0.56963825
Validation score: 0.702720
Iteration 13, loss = 0.56911918
Validation score: 0.705092
Iteration 14, loss = 0.56897597
Validation score: 0.701060
Iteration 15, loss = 0.56869816
Validation score: 0.703544
Iteration 16, loss = 0.56835721
Validation score: 0.704171
Iteration 17, loss = 0.56832862
Validation score: 0.702748
Iteration 18, loss = 0.56810142
Validation score: 0.704660
Iteration 19, loss = 0.56785152
Validation score: 0.704311
Iteration 20, loss = 0.56780722
Validation score: 0.705525
Iteration 21, loss = 0.56749735
Validation score: 0.704520
Iteration 22, loss = 0.56760508
Validation score: 0.703334
Iteration 23, loss = 0.56743722
Validation score: 0.705664
Iteration 24, loss = 0.56721554
Validation score: 0.701911
Iteration 25, loss = 0.56707679
Validation score: 0.704841
Iteration 26, loss = 0.56704567
Validation score: 0.704018
Iteration 27, loss = 0.56689460
Validation score: 0.705399
Iteration 28, loss = 0.56680101
Validation score: 0.705497
Iteration 29, loss = 0.56693433
Validation score: 0.706473
Iteration 30, loss = 0.56670526
Validation score: 0.704534
Iteration 31, loss = 0.56663734
Validation score: 0.705831
Iteration 32, loss = 0.56650436
Validation score: 0.706473
Iteration 33, loss = 0.56644342
Validation score: 0.705371
Iteration 34, loss = 0.56633051
Validation score: 0.705218
Iteration 35, loss = 0.56635814
Validation score: 0.706250
Iteration 36, loss = 0.56634131
Validation score: 0.704213
Iteration 37, loss = 0.56610501
Validation score: 0.704395
Iteration 38, loss = 0.56630261
Validation score: 0.705622
Iteration 39, loss = 0.56613235
Validation score: 0.705748
Iteration 40, loss = 0.56610207
Validation score: 0.706780
Iteration 41, loss = 0.56597889
Validation score: 0.705511
Iteration 42, loss = 0.56597315
Validation score: 0.704632
Iteration 43, loss = 0.56588335
Validation score: 0.704548
Iteration 44, loss = 0.56600161
Validation score: 0.705748
Iteration 45, loss = 0.56580738
Validation score: 0.707213
Iteration 46, loss = 0.56588954
Validation score: 0.703613
Iteration 47, loss = 0.56586718
Validation score: 0.706613
Iteration 48, loss = 0.56572583
Validation score: 0.703627
Iteration 49, loss = 0.56572010
Validation score: 0.704841
Iteration 50, loss = 0.56564104
Validation score: 0.705971
Iteration 51, loss = 0.56573465
Validation score: 0.705957
Iteration 52, loss = 0.56575299
Validation score: 0.705525
Iteration 53, loss = 0.56564972
Validation score: 0.705831
Iteration 54, loss = 0.56574055
Validation score: 0.707422
Iteration 55, loss = 0.56549359
Validation score: 0.705301
Iteration 56, loss = 0.56541931
Validation score: 0.706892
Iteration 57, loss = 0.56554158
Validation score: 0.706306
Iteration 58, loss = 0.56547502
Validation score: 0.707059
Iteration 59, loss = 0.56544320
Validation score: 0.706585
Iteration 60, loss = 0.56534968
Validation score: 0.706306
Iteration 61, loss = 0.56543998
Validation score: 0.706724
Iteration 62, loss = 0.56530857
Validation score: 0.707450
Iteration 63, loss = 0.56547492
Validation score: 0.707045
Iteration 64, loss = 0.56522319
Validation score: 0.703153
Iteration 65, loss = 0.56534798
Validation score: 0.705273
Validation score did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(early_stopping=True, hidden_layer_sizes=(20, 15, 10, 5),
              max_iter=1000, verbose=True)

In [16]:
X_test_s_p = saltpaperTest.iloc[:,[1,2,3,4]].values
y_test_s_p = saltpaperTest.iloc[:,0].values
len(X_test_s_p)

102400

In [17]:
y_predict_s_p=clf.predict(X_test_s_p)
y_predict_s_p.size

102400

In [18]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_s_p, y_predict_s_p)
pd.DataFrame(cm)

       0      1
0  36535   6165
1   3145  56555

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test_s_p, y_predict_s_p)

0.90908203125

In [20]:
from sklearn.metrics import classification_report
print(classification_report(y_test_s_p, y_predict_s_p))

              precision    recall  f1-score   support

           0       0.92      0.86      0.89     42700
           1       0.90      0.95      0.92     59700

    accuracy                           0.91    102400
   macro avg       0.91      0.90      0.91    102400
weighted avg       0.91      0.91      0.91    102400

In [77]:
i=11
y_predict=y_predict_s_p[1024*i:1024*(i+1)]
y_predict[y_predict>0]=255
y_predict=y_predict.reshape(32,32)
img = Image.fromarray(y_predict.astype(np.uint8))
img.show()

In [39]:
X_test_average = averegeTest.iloc[:,[1,2,3,4]].values
y_test_average = averegeTest.iloc[:,0].values
y_predict_average=clf.predict(X_test_average)

In [40]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_average, y_predict_average)
pd.DataFrame(cm)

       0      1
0  19543  23157
1  26869  32831

In [41]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test_average, y_predict_average)

0.51146484375

In [42]:
from sklearn.metrics import classification_report
print(classification_report(y_test_average, y_predict_average))

              precision    recall  f1-score   support

           0       0.42      0.46      0.44     42700
           1       0.59      0.55      0.57     59700

    accuracy                           0.51    102400
   macro avg       0.50      0.50      0.50    102400
weighted avg       0.52      0.51      0.51    102400

In [43]:
i=16
y_predict=y_predict_average[1024*i:1024*(i+1)]
y_predict[y_predict>0]=255
y_predict=y_predict.reshape(32,32)
img = Image.fromarray(y_predict.astype(np.uint8))
img.show()
img.save("average_w.tif")

In [44]:
X_test = histogramTest.iloc[:,[1,2,3,4]].values
y_test = histogramTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.754560546875

In [45]:

cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  25158  17542
1   7591  52109

In [46]:
i=11
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("histogram.tif")

In [47]:
X_test = GammaCorTest.iloc[:,[1,2,3,4]].values
y_test = GammaCorTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.886865234375

In [48]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  36897   5803
1   5782  53918

In [49]:
i=11
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("gamma_w.tif")

In [60]:
X_test = JPEG50Test.iloc[:,[1,2,3,4]].values
y_test = JPEG50Test.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.546357421875

In [61]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  13562  29138
1  17315  42385

In [62]:
i=18
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("jpeg_w.tif")

In [66]:

X_test = medianTest.iloc[:,[1,2,3,4]].values
y_test = medianTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.532109375

In [67]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  19538  23162
1  24750  34950

In [68]:
i=16
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("median.tif")

In [69]:

X_test = snarpnessTest.iloc[:,[1,2,3,4]].values
y_test = snarpnessTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.797939453125

In [70]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  25298  17402
1   3289  56411

In [71]:
i=28
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("snarp.tif")