In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from PIL import Image
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report

In [2]:
AttackDataFrame = pd.read_csv('feature_vec/Task2/Task2FeatureVec.txt')
del AttackDataFrame['Unnamed: 0']
AttackDataFrame

        bit  feature_1  feature_2  feature_3  feature_4
0         1        0.0       18.5       -5.0        1.5
1         1       -4.5      -33.5        0.5      -42.0
2         1       10.5       91.5        5.5       87.0
3         1      -31.0       -5.5      -35.5       23.5
4         1      -16.5       13.0      -11.0       -6.0
...     ...        ...        ...        ...        ...
204795    1       -6.5        3.0       -1.0        9.0
204796    1       -3.5       16.5        0.5       -2.5
204797    1        0.5       -8.0        6.5       -2.5
204798    1        2.0       28.0       -2.0       49.0
204799    1       28.0        3.5       29.5        9.0

[204800 rows x 5 columns]

In [5]:
X = AttackDataFrame.iloc[:,[1,2,3,4]].values  
Y=AttackDataFrame.iloc[:,[0]].values

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.7, random_state=42)

In [7]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_sizes = (20,15,10,5) , max_iter=1000 ,early_stopping=True , verbose=True)
clf.fit(X_train, y_train)

d:\code\python\nir\venv\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Iteration 1, loss = 0.14390135
Validation score: 0.983236
Iteration 2, loss = 0.08358593
Validation score: 0.983236
Iteration 3, loss = 0.08063266
Validation score: 0.983236
Iteration 4, loss = 0.07876575
Validation score: 0.983236
Iteration 5, loss = 0.07661022
Validation score: 0.983236
Iteration 6, loss = 0.07394117
Validation score: 0.983236
Iteration 7, loss = 0.07120566
Validation score: 0.983236
Iteration 8, loss = 0.06827458
Validation score: 0.983236
Iteration 9, loss = 0.06526531
Validation score: 0.983236
Iteration 10, loss = 0.06157779
Validation score: 0.983236
Iteration 11, loss = 0.05843304
Validation score: 0.983236
Iteration 12, loss = 0.05567851
Validation score: 0.983236
Validation score did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(early_stopping=True, hidden_layer_sizes=(20, 15, 10, 5),
              max_iter=1000, verbose=True)

In [9]:
y_predict=clf.predict(X_test)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

   0       1
0  0    2373
1  0  140987

In [10]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00      2373
           1       0.98      1.00      0.99    140987

    accuracy                           0.98    143360
   macro avg       0.49      0.50      0.50    143360
weighted avg       0.97      0.98      0.98    143360

d:\code\python\nir\venv\lib\site-packages\sklearn\metrics\_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
d:\code\python\nir\venv\lib\site-packages\sklearn\metrics\_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
d:\code\python\nir\venv\lib\site-packages\sklearn\metrics\_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [11]:
X_image_test = AttackDataFrame.iloc[:,[1,2,3,4]].values  
i=1
y=X_image_test[1024*i:1024*(i+1)]
y_predict_image=clf.predict(y)
y_predict_image[y_predict_image>0]=255
y_predict_image=y_predict_image.reshape(32,32)
img = Image.fromarray(y_predict_image.astype(np.uint8))
img.show()

In [12]:
imageWM2Frame = pd.read_csv('feature_vec/Task2/anotherCWFearVec.txt')
del imageWM2Frame['Unnamed: 0']
imageWM2Frame

      bit  feature_1  feature_2  feature_3  feature_4
0       1       11.5       -1.5       -3.5       24.5
1       1       -3.0        5.5        8.5       -1.0
2       1       10.5        5.5       20.5        1.5
3       1        0.0       -5.5        1.5        0.5
4       1        4.5       -5.0        1.5       -4.5
...   ...        ...        ...        ...        ...
1019    1       -9.5       -6.5       -3.0       -9.5
1020    1      -19.5       37.5        6.0        1.0
1021    1       -6.0        4.0       -2.0       -1.0
1022    1       -4.0        7.5        4.5        3.0
1023    1       -0.5       -1.5        0.5        2.0

[1024 rows x 5 columns]

In [13]:
XimageWM2 = imageWM2Frame.iloc[:,[1,2,3,4]].values  
XimageWM2.size

4096

In [14]:
YimageWM2=imageWM2Frame.iloc[:,[0]].values
YimageWM2

array([[1],
       [1],
       [1],
       ...,
       [1],
       [1],
       [1]], dtype=int64)

In [15]:
y_predict_cw2=clf.predict(XimageWM2)
y_predict_cw2.size

1024

In [16]:
cm = confusion_matrix(YimageWM2, y_predict_cw2)
pd.DataFrame(cm)

   0    1
0  0  456
1  0  568

In [17]:
y_predict_cw2[y_predict_cw2>0]=255
y_predict_cw2=y_predict_cw2.reshape(32,32)
img = Image.fromarray(y_predict_cw2.astype(np.uint8))
img.show()