In [39]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from PIL import Image
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
path_averege= "feature_vec/AverageAttack.txt"
path_histogram="feature_vec/HistogramAttack.txt"
path_GammaCor=  "feature_vec/GammaCorrection.txt"
path_JPEG50= "feature_vec/JPEG50.txt"
path_median=  "feature_vec/medianAttack.txt"
path_saltpaper="feature_vec/SaltPaperAttack.txt"
path_snarpness= "feature_vec/Sharpness.txt"

In [67]:
def test_train_df(path):
    AttackDataFrame = pd.read_csv(path)
    del AttackDataFrame['Unnamed: 0']
    train_size=len(AttackDataFrame)//2
    test_size=len(AttackDataFrame)-train_size
    Train = AttackDataFrame.head(train_size)
    Test = AttackDataFrame.tail(test_size)
    return Train.copy(),Test.copy()

In [68]:
averegeTrain,averegeTest=test_train_df(path_averege)

histogramTrain,histogramTest=test_train_df(path_histogram)

GammaCorTrain, GammaCorTest=test_train_df(path_GammaCor)

JPEG50Train,JPEG50Test=test_train_df(path_JPEG50)

medianTrain,medianTest=test_train_df(path_median)

saltpaperTrain,saltpaperTest=test_train_df(path_saltpaper)

snarpnessTrain,snarpnessTest=test_train_df(path_snarpness)

In [69]:
frames = [averegeTrain, histogramTrain, GammaCorTrain , JPEG50Train, medianTrain,saltpaperTrain ,snarpnessTrain]

result = pd.concat(frames)
result

        bit  feature_1  feature_2  feature_3  feature_4
0         1        0.0        0.5       -1.0        1.5
1         1       -6.0      -18.5       -2.5      -20.0
2         1       15.0       28.0       20.5       33.5
3         1      -33.0       -2.5      -32.0       -2.5
4         1      -12.5       -7.0      -16.5      -11.5
...     ...        ...        ...        ...        ...
102395    1        0.5        2.5       -0.5        0.5
102396    1        0.0        0.5        4.0       -1.0
102397    1       -0.5        0.0        1.5       -0.5
102398    1        0.0        2.5        1.0       -1.0
102399    1       -0.5        2.0        0.0        0.0

[716800 rows x 5 columns]

In [70]:
X_train = result.iloc[:,[1,2,3,4]].values

In [71]:
y_train = result.iloc[:, 0].values

In [72]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_sizes = (20,15,10,5) , max_iter=1000 ,early_stopping=True , verbose=True)
clf.fit(X_train, y_train)

Iteration 1, loss = 0.62650663
Validation score: 0.678585
Iteration 2, loss = 0.58650675
Validation score: 0.693792
Iteration 3, loss = 0.57884002
Validation score: 0.698842
Iteration 4, loss = 0.57594887
Validation score: 0.701939
Iteration 5, loss = 0.57393911
Validation score: 0.704325
Iteration 6, loss = 0.57292218
Validation score: 0.701200
Iteration 7, loss = 0.57214693
Validation score: 0.703125
Iteration 8, loss = 0.57172899
Validation score: 0.703767
Iteration 9, loss = 0.57132452
Validation score: 0.704199
Iteration 10, loss = 0.57094353
Validation score: 0.701646
Iteration 11, loss = 0.57063661
Validation score: 0.706724
Iteration 12, loss = 0.57032040
Validation score: 0.704827
Iteration 13, loss = 0.57030497
Validation score: 0.705734
Iteration 14, loss = 0.56986199
Validation score: 0.706724
Iteration 15, loss = 0.56970588
Validation score: 0.706180
Iteration 16, loss = 0.56951173
Validation score: 0.705329
Iteration 17, loss = 0.56932968
Validation score: 0.704757
Iteration 18, loss = 0.56920806
Validation score: 0.703488
Iteration 19, loss = 0.56903272
Validation score: 0.706362
Iteration 20, loss = 0.56878895
Validation score: 0.705678
Iteration 21, loss = 0.56874308
Validation score: 0.704646
Iteration 22, loss = 0.56861887
Validation score: 0.706152
Validation score did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(early_stopping=True, hidden_layer_sizes=(20, 15, 10, 5),
              max_iter=1000, verbose=True)

In [73]:
X_test_s_p = saltpaperTest.iloc[:,[1,2,3,4]].values
y_test_s_p = saltpaperTest.iloc[:,0].values
len(X_test_s_p)

102400

In [74]:
y_predict_s_p=clf.predict(X_test_s_p)
y_predict_s_p.size

102400

In [75]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_s_p, y_predict_s_p)
pd.DataFrame(cm)

       0      1
0  36780   5920
1   4292  55408

In [76]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test_s_p, y_predict_s_p)

0.9002734375

In [77]:
i=11
y_predict=y_predict_s_p[1024*i:1024*(i+1)]
y_predict[y_predict>0]=255
y_predict=y_predict.reshape(32,32)
img = Image.fromarray(y_predict.astype(np.uint8))
img.show()

In [78]:
X_test_average = averegeTest.iloc[:,[1,2,3,4]].values
y_test_average = averegeTest.iloc[:,0].values
y_predict_average=clf.predict(X_test_average)

In [79]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_average, y_predict_average)
pd.DataFrame(cm)

       0      1
0  19716  22984
1  27782  31918

In [80]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test_average, y_predict_average)

0.50423828125

In [81]:
i=11
y_predict=y_predict_average[1024*i:1024*(i+1)]
y_predict[y_predict>0]=255
y_predict=y_predict.reshape(32,32)
img = Image.fromarray(y_predict.astype(np.uint8))
img.show()

In [82]:
X_test = histogramTest.iloc[:,[1,2,3,4]].values
y_test = histogramTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.75767578125

In [83]:

cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  26011  16689
1   8125  51575

In [84]:
i=11
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()

In [85]:
X_test = GammaCorTest.iloc[:,[1,2,3,4]].values
y_test = GammaCorTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.8874609375

In [86]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  37587   5113
1   6411  53289

In [87]:
i=11
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("gammaCorWtilda.tif")

In [88]:
X_test = JPEG50Test.iloc[:,[1,2,3,4]].values
y_test = JPEG50Test.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.545087890625

In [89]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  13926  28774
1  17809  41891

In [90]:
i=11
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()

In [58]:

X_test = medianTest.iloc[:,[1,2,3,4]].values
y_test = medianTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.5369642857142857

In [59]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  31276  43449
1  39527  64948

In [91]:
i=56
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()

In [92]:

X_test = snarpnessTest.iloc[:,[1,2,3,4]].values
y_test = snarpnessTest.iloc[:,0].values
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.80548828125

In [93]:
cm = confusion_matrix(y_test, y_predict)
pd.DataFrame(cm)

       0      1
0  26467  16233
1   3685  56015

In [66]:
i=18
y=y_predict[1024*i:1024*(i+1)]
y[y>0]=255
y=y.reshape(32,32)
img = Image.fromarray(y.astype(np.uint8))
img.show()
img.save("snarpnessWtilda.tif")